.background{
    /* background-image: url('../../assets/backgroundWithPlants.webp');
    background-size: contain; 
    background-repeat: no-repeat; */
    
    background-color: rgba(190, 239, 115, 0.776);
    height: 80vh;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font: bold;
    font-size: 30px;
    
}