@tailwind base;
@tailwind components;
@tailwind utilities;

.navBar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font: bold;
    color: white;
    background-color: black;
}

.central-lane-nav{
    display: flex;
    gap: 30px;
}

.nav-last{
    display: flex;
    gap:10px;
}

.nav-item{
    /* border: 2px rgb(160, 153, 153) solid; */
    padding: 2px;
}

.nav-item:hover{
  box-shadow: rgb(240, 240, 240) 2px 2px;
  background-color: gray;
}




